/* 
    Proyecto:   Pre-entrega 1 
                Matías Baldanza - matiasbaldanza@gmail.com
                Twitter: @matiasbaldanza
    Curso:      Javascript
    Comisión:   #34150 - CoderHouse
    Profesor:   Gonzalo Ledesma

    Repo:       https://github.com/matiasbaldanza/coderhouse-js-34150-matiasbaldanza-preentrega-1/
    Sitio:      https://matiasbaldanza.github.io/coderhouse-js-34150-matiasbaldanza-preentrega-1/
*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

:root {
    --color-text: #222222;
    --color-light: #EEEEEE;
    --color-blue: #00AAFF;
    --color-green: #00FF6C;
    --gradient-blue-green: linear-gradient(to right, #00AAFF, #00FF6C);

    --animation-keypress: translate(1px, 1px);
    --color-shadow: rgba(0, 0, 0, .75);
    --shadow: 0 1px 2px var(--color-shadow);
}

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--color-text);
    padding: 2rem;
    font-size: 1.6rem;
}

.container {
    max-width: 780px;
    margin: 0 auto;
}

p {
    font-weight: 300;
    line-height: 125%;
    margin-bottom: 0.5rem;
}

h1 {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 2.4rem;
}

h1 > span {
    display: block;
    font-weight: 300;
    font-size: 2rem;
    margin-top: 0.5rem;
}

h3 {
    font-size: 2rem;
    font-weight: 500;
    background-color: var(--color-light);
    padding: 1rem;
}

code {
    font-family:'Courier New', Courier, monospace;
    font-weight: bold;
}

section {
    border: 1px solid var(--color-text);
    border-radius: 0.5rem;
    padding: 1rem;

    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

details {
    overflow: scroll;

}

.button {
    padding: 1rem;
    border: none;
    border-radius: 0.5rem;
    background: var(--color-blue);
    color: var(--color-light);
    display: inline-block;
    font-weight: 500;
    box-shadow: var(--shadow);
}

.button:active {
    transform: var(--animation-keypress);
    box-shadow: none;
}

pre {
    overflow: scroll;
}